---

---
<div id="pizarracomp">
    <div class="pizarraprincipal">
        
    <video id="video-p">
        <source src="/public/videos/Agarrar1-1.webm" type="video/webm">
        </video>
    <div id="bordeazul">
    </div>
    </div>
</div>

<style>
.pizarraprincipal{
    background-color: #ffffff;
    border-radius: 20px; 
/* border: 20px solid #188AE3; */
box-sizing: border-box;


display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
position: relative;

width: 100%;
height: 100%;
}

.pizarraprincipal video{
    width: 101%;
    height: auto;
}

#pizarracomp{
    background-color: #83D3FF;
    grid-column: 6/24;
    grid-row: 5/14;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}


</style>
