---
import Modelado1 from "./components/Modelado1.astro";
import PaginaMaestra1 from "./layouts/PaginaMaestra1.astro";

//aqui va codigo dinamico
---
<PaginaMaestra1>
    <a href="/guia1/src/pages/index.astro"><div>CLICK AQUI</div></a>
</PaginaMaestra1>

