---
import PaginaMaestra1 from "./layouts/PaginaMaestra1.astro";
//aqui va codigo dinamico
---
<PaginaMaestra1>    <a href="/b-motricidad/modelado1/modelado1-1/"><div>CLICK AQUI</div></a>
                    <a href="/a-partida/puntoa/puntoa-1/"><div>CLICK AQUI PERO EN AMARILLO</div></a>
</PaginaMaestra1>

